<a href="https://colab.research.google.com/github/mjrf1985/Ejercicios-Python/blob/main/Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 1**

In [ ]:
print("hola, ¿Cual es tu nombre y apellido?")
nombre = input()
print("Hola", nombre, "Bienvenido")

**Ejercicio 2**

In [ ]:
entero = 5
flotante = 5.5
cadena = ("Progra3")
a = 4
b = 2

print(entero, flotante, cadena)

if a or b < 0:
  print ("a y b, son mayores a 0")
else:
  print("0")

type(entero)
type(flotante)

**Ejercicio 3**

In [ ]:
A = 9
B = 3

print(A + B)
print(B - A)
print(A / B)
print(A ** B)

**Ejercicio 4**

In [ ]:
c = int(input("Ingrese la temperatura en grados Centigrados: "))

print((c * 1.8) +32, "Grados Fahrenheit")

Ingrese la temperatura en grados Centigrados: 9
48.2 Grados Fahrenheit

**Ejercicio 5**

In [ ]:
p = float(input("Ingrese el diametro del circulo: "))

print("El perimetro del circulo es:", "{:.2f}".format  (p * 3.1415,"cm"))

Ingrese el diametro del circulo: 9
El perimetro del circulo es: 28.27

**Ejercicio 6**

In [ ]:
f = float(input("Ingrese el valor en pies: "))

print("{:.2f}".format (f * 12))

Ingrese el valor en pies: 9.5678
114.81

**Ejercicio 7**

In [ ]:
producto = input("Ingrese el producto que compra: ")
precio = float(input("Ingrese el valor del producto: "))

cuota1 = (precio / 3)
cuota2 = (precio / 6)
cuota3 = (precio / 12)
cuota4 = (precio / 18)

if precio < 600:
    print("Monto de la cuota mesual:" , "{:.2f}".format (cuota1))
    print("Total a pagar con interes del 2.3% mensual:" , (cuota1 * 0.023) + cuota1)

if precio <= 700 and precio >= 600 :
    print("Monto de la cuota mesual:" , "{:.2f}".format (cuota2))
    print("Total a pagar con interes del 3.5% mensual:" , (cuota2 * 0.035) + cuota2)

if precio >700 and precio <= 800 :
    print("Monto de la cuota mesual:" , "{:.2f}".format (cuota3))
    print("Total a pagar con interes del 7.2% mensual:" , (cuota3 * 0.072) + cuota3) 

if precio >800:
    print("Monto de la cuota mesual:" , "{:.2f}".format (cuota4))
    print("Total a pagar con interes del 8.1% mensual:" , (cuota4 * 0.072) + cuota4)
    print("Gracias por Visitarnos")
else:
  print("Gracias por Visitarnos")


**Ejercicio 9**

**Ejercicio 10**

In [ ]:
list = [35,50]

print("El valor mayor es:", max(list))

El valor mayor es: 50

**Ejercicio 11**

In [ ]:
numero = int(input("ingresa un número: "))

if numero / 2 == 0:
  print("El número", numero , "es par")
else:
  print("El número", numero , "es impar")

ingresa un número: 88
El número 88 es impar

**Ejercicio 12**

In [ ]:
edad = int(input("Ingrese su edad: "))

if edad > 16 :
  print("Gracias por venir al cine")
  
  if edad >= 16 and edad <= 18 :
    print("puede ingresar a la clasificacíon B")
  
  if edad > 18 and edad <= 21 :
    print("puede ingresar a la clasificacíon C")

  if edad >= 22:
    print("puede ingresar a la clasificación D")
else:
  print("Ud no tiene edad para ingresar al cine ")

**Ejercicio 13**

In [ ]:
numero = 1
while numero <= 10:
  print(numero)
  numero = numero + 1

**Ejercicio 14**

In [ ]:
numero = int(input("Ingrese un número "))

for i in range (1,11):
  resultado = i * numero
  print(("%d x %d = %d") % (numero, i, resultado))

**Ejercicio 15**

In [ ]:
cajas = int(input("Ingrese la cantidad de cajas: "))

if cajas >= 51 :
  print("Tiene descuento")
  
  if cajas >= 51 and cajas <= 100 :
    print("Aplica descuento del 3%")
  
  if cajas > 100 and cajas <= 499 :
    print("Aplica descuento del 5%")

  if cajas >= 500:
    print("Aplica descuento del 7.75%")
else:
  print("No aplica para descuento")

**Ejercicio 16**

In [ ]:
numeros = int(input("Ingrese el número hasta donde desea sumar: "))
b = 0

for i in range (1, numeros+1):
  print(i)
  b = b + i
print("La suma de los números es:", b)

**Ejercicio 17**

In [ ]:
numeros = 1
while numeros <= 100:
  if numeros % 2 == 0:
    print(numeros)
  numeros = numeros + 1

**Ejercicio 18**

In [ ]:
numeros = int(input("Ingrese el número hasta donde desea sumar: "))
total = 0
impares = []

for i in range (0, numeros + 1):
  if i % 2 == 1:
    impares.append(i)
    total += i
print("Los números impares son:", impares)
print("La suma de los números impares es:", total)

**Ejercicio 19**

In [ ]:
def suma_digi(numeros):
  s = 0
  while numeros > 0:
    s = s + numeros % 10
    numeros = numeros // 10
  return s

n = int(input("Cantidad de números que desea sumar: "))
suma_total = 0
while n > 0:
  numeros = int(input("Número: "))
  suma_total = suma_total + suma_digi(numeros)
  n = n - 1
print("Suma total de los números ingresados", suma_total)

**Ejercicio 20**

In [ ]:
numero = int(input("Ingrese un número entre 120 y 400: "))
import sys

if numero == 0 :
  sys.exit("Programa finalizado")
if numero >= 120 and numero <= 400 :
  print("El número ingresado es correcto")
else:
  print("Debe ingresar un número entre 120 y 400")

**Ejercicio 21** incompleto :(

In [ ]:
palabra = input("Ingrese una palabra: ")
numero = int(input("Ingrese el número de veces que se repetirá la palabra: "))

**Ejercicio 22**

In [59]:
a = int(input("Ingrese el primer número: "))
b = int(input("Ingrese el segundo número: "))
menu = int(input("Elija una opción: \n 1- Sumar \n 2- Restar \n 3- Multiplicar \n 4- Dividir \n"))

if menu == 1:
  print("El resultado es:", a + b)
elif menu == 2:
  print("El resultado es:", a - b)
elif menu == 3:
  print("El resultado es:", a * b)
elif menu == 4:
  print("El resultado es:", a / b)
else:
  print("ingrese un dato valido")

Ingrese el primer número: 4
Ingrese el segundo número: 2
Elija una opción:
 1- Sumar
 2- Restar
 3- Multiplicar
 4- Dividir
4
El resultado es: 2.0